/* The official colors of the Merriam-Webster Logo are red (R:215 G:25 B:32 or #D71920) ring(s), white circle, and blue (R:0 G:73 B:144 or #004990) type. */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

header {
  background-color: rgb(63, 91, 111);
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  max-width: 7em;
  padding-top: 1em;
  padding-bottom: 1em;
}

h1 {
  font-weight: 800;
  font-size: 2.5rem;
  color: whitesmoke;
}

#container {
  margin: 3em auto;
  max-width: 45em;
  background-color: rgba(189, 195, 199, .8);
  padding: 2em 3em;
  border-radius: 12px;
  border: 1px solid #bacdd8;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

input {
  font-size: 1.5rem;
  border-radius: 4px;
}

button {
  background-color: #D71920;
  color: white;
  padding: .5em 1em;
  border-radius: 12px;
  border: none;
  margin-left: 1em;
}

button:hover {
  background-color: #4d0c0f;
  color: white;
  cursor: pointer;
}

.wordEntry {
  font-size: 4rem;
  font-family: 'Times New Roman', Times, serif;
}

span {
  color: rgb(86, 123, 147);
  font-size: 1.8rem;
}

.fa-stack { 
  font-size: 1em; 
  cursor: pointer;
}

.definition-of {
  color:rgb(86, 123, 147)
}

.definition-of span {
  font-style: italic;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 2;
}